

/* 기본 스타일 */
.info-window-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: start;
    max-width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

.info-window-header {
    display: flex;
    align-items: center;
}

.info-window-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.info-window-title {
    font-size: 0.9rem;
    font-weight: bold;
}

.button-common {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-marker-btn {
    background-color: #4CAF50;
    color: white;
}

.remove-marker-btn {
    background-color: #f44336;
    color: white;
}

.register-btn {
    background-color: #008CBA;
    color: white;
}

.button-common:hover {
    opacity: 0.8;
}