

/* 기본 스타일 */
/*.info-window-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 150%;*/
/*    padding: 10px;*/
/*    align-items: start;*/
/*    background-color: white;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*    font-family: 'Arial', sans-serif;*/
/*    transform: translateX(-10%) translateY(-1%);*/

/*}*/
.info-window-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

.info-window-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-window-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.info-window-title {
    font-weight: bold;
    margin-top: 5px;
}

.info-window-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-common {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.add-marker-btn {
    background-color: #4CAF50;
    color: white;
}

.remove-marker-btn {
    background-color: #f44336;
    color: white;
}