
/* 전체 리스트 스타일 */
#travelRouteList {
  list-style: none; /* 기본 리스트 스타일 제거 */
  height: 93%;
  padding: 0;
}

.travel-list{
  height: 100%;
}

/* 각 리스트 아이템 스타일 */
.travel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #f9f9f9; /* 배경색 */
  border: 1px solid #ddd; /* 테두리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  padding: 10px;
  margin-bottom: 8px; /* 아이템 간 여백 */
  border-radius: 8px; /* 둥근 모서리 */
}

.item-content {
  display: flex;
  align-items: center;
}

.travel-item img {
  border-radius: 8px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px; /* 이미지와 텍스트 사이 여백 */
}

.travel-item-title {
  font-weight: bold; /* 제목 굵기 */
  color: #333; /* 제목 색상 */
  font-size: 16px; /* 제목 글꼴 크기 */
}



.close-button2 {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  border-radius: 100%;
  padding: 4px;
  //position: absolute;
  right: 8px;

  &:hover {
    background-color: #ddd;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 12px;
    background-color: #666;
  }

  &::before {
    transform: rotate(90deg);
  }
}





/* nav-icon-5 */
.nav-icon-5{
  width: 30px;
  height: 20px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 3;
}
.nav-icon-5 span{
  background-color:#666666;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top:8px;
  left: 0px;
  opacity:1;
}
.nav-icon-5 span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
  transform: rotate(45deg);
  top: 7px;
}
.nav-icon-5.open span:nth-child(2){
  opacity:0;
}
.nav-icon-5.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 7px;
}


.side-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 350px;
  background-color: #fff;
  box-shadow: 2px 0   5px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out; /* 슬라이드 효과 */
  z-index: 10; /* 다른 요소 위에 표시 */
  border-radius: 0 10px 10px 0;
}

.side-menu.show-menu {
  transform: translateX(0); /* 화면으로 슬라이드 */
}

.side-menu div {
  padding: 12px 16px; /* 패딩 */
  border-bottom: 1px solid #eee; /* 하단 경계선 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

.side-menu div:hover {
  background-color: #f8f8f8; /* 마우스 오버 시 배경색 변경 */
}